<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Title -->
	<title>EIT Digital Newspaper</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.js"></script>


<!-- ADD FAVICON  -->
	
    <!-- Favicon -->
    <link rel="icon" href="img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="css/app.css">

</head>

<body ng-app="newssapp">
	
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                           
<!-- ADD LOGO -->

                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img img\logo.jpg" alt=""></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">

	                            <!-- Login drop-down -->
	                            <div class="dropdown">
	                                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" >Login</button>
	                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
	                                  <a class="dropdown-item" href="#">Michael</a>
	                                  <a class="dropdown-item" href="#">Stanley</a>
	                                  <a class="dropdown-item" href="#">Tobi</a>
	                                </div>
	                          	</div>

                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="#" method="post">
                                        <input type="search" name="search" class="form-control" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <!-- <div class="logo">
                            <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                        </div>
 -->
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
<!-- ADD HOVER CSS FOR NAV OPTIONS -->
<!-- class="active" not working atm -->
                            <ul>
                                <li class="active" ng-click="myFilter=showAll">Home</li>
                            	<li ng-click="myFilter=showAll">All news</a></li>
								<li ng-click="myFilter={category:'National'}">National</a></li>
								<li ng-click="myFilter={category:'Economy'}">Economy</a></li>
								<li ng-click="myFilter={category:'Sports'}">Sports</a></li>
								<li ng-click="myFilter={category:'Technology'}">Technology</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    
	<div class="container">
        <ng-view></ng-view>
    </div>


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">

        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">

                        <!-- Copywrite -->
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="news/news-app.js"></script>
    <script src="news/news-services.js"></script>
    <script src="news/news-controllers.js"></script>

</body>


</html>
