<!-- ##### Featured Post Area Start ##### -->
<div class="featured-post-area">
    <div class="container">
        <!-- Move this button somehwere else -->                
                

        <div class="row">

            <!-- Single Featured Post -->
            <div class="col-lg-8">
                <div class="col-lg-6" ng-repeat="article in news | filter: categoryFilter | filter: searchFilter">
                <div class="single-blog-post featured-post border">
                    <div class="post-thumb">
                        <a href="#!/news-show"><img ng-src="{{ 'data:' + article.thumbnail_media_type + ';base64,' + article.thumbnail_image }}" alt=""></img></a>
                    </div>
                    <div class="post-data">
                        {{article.category}}
                        <a href="#!/news-show" class="post-title">
                            <h1>{{article.title}}</h1>
                        </a>
                            <h4>{{article.subtitle}}</h4>
                        <div class="post-meta">
                            <p class="post-author">By {{article.id_user}}</p>
                            <p class="post-author">Last modified on {{article.update_date}}</p>
                            <p class="post-excerp">{{article.abstract}} </p>
                        </div>
                        <td><a ng-if="loggedIn" ng-click="editArticle(article.id)" class="btn btn-small btn-primary">edit</a></td>
                        <td><a ng-if="loggedIn" ng-click="deleteArticle(article)" class="btn btn-small btn-danger">delete</a></td>
                    </div>
                </div>
                 
                </div>
            </div>      

                <!-- Twitter timeline -->
            <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                <div class="single-blog-post small-featured-post d-flex hidden-md">
                    <a class="twitter-timeline" data-height="800" href="https://twitter.com/EIT_Digital">Tweets by EIT Digital</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                </div>
            </div>
        </div>
    </div>
</div>