
    <form novalidate name="articleForm" class="form-horizontal">
        <div class="control-group">
            <!-- <label class="control-label" for="title">Title:</label> -->
            <div class="post-title">
                    <h1 style="color:red;text-align: center;font-size: 40px; class="post-excerp">{{article.title}} </h1>
                    <p style="color:blue ;text-align: center; class="post-author"> {{article.id_user}} </p>
            </div>
        </div>
        <br>
     
        <br>
        <br>

        <div class="control-group">
            <!-- <label class="control-label" for="subtitle">Subtitle:</label> -->
            <div class="post-meta">
                    <h3 class="post-excerp">{{article.subtitle}} </h2>
            </div>
        </div>

        <br>
        
        <div class="filter">
            <label class="control-label" for="category">Category:</label>
            <div class="post-meta">
                    <h5 class="post-excerp">{{article.category}} </h5>
            </div>
        </div>
    
        <br>

        <div class="control-group">
            <label class="control-label" for="abstract">Abstract:</label>
            <div class="post-meta">
                    <p class="post-excerp">{{article.abstract}} </p>
        </div>

        <br>
    
        <div class="control-group">
            <label class="control-label" for="body">Body:</label>
            <div class="post-meta">
                    <p class="post-excerp">{{article.body}} </p>
            </div>
        </div>
        <!-- Code to browse the image file and binds the image to the scope variables "news.image_media_type" and "news.image_data" -->

        <div class="control-group">
            <label class="control-label" for="body">Image:</label>
            <div class="post-thumb">
                    <a href="#!/news-show"><img ng-src="{{ 'data:' + article.thumbnail_media_type + ';base64,' + article.thumbnail_image }}" alt=""></img></a>
                </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="body"></label>
        </div>

        <div class="control-group">

            <div class="controls">
                <input style="   float:Right;margin: 8px 0; margin-right:10px;  padding: 15px 32px;" type="button" ng-click="cancel()" class="btn btn-small btn-primary" 
                value="Back to List"> 
            </div>
        </div>
    </form>
</div>
<!-- Code to browse the image file and binds the image to the scope variables "news.image_media_type" and "news.image_data" -->
 
<!-- <img style="width:300px; height:300px;" ng-src="{{ 'data:' + news.image_media_type + ';base64,' + news.image_data }}" />
<input type="file" ng-file-select="onFileSelect($files);" ng-model="news"></input> -->
