<div class="container">
    <h1 style="color:blue; text-align: center;font-size: 40px;">EIT Digital News</h1>
                                       
    <form novalidate name="articleForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="title">Title:(*)</label>
            <div class="controls">
                <input style=" margin: 8px 0;" type="text" id="title" ng-model="article.title" name="title" value="Title" required/>
                <span class="text-warning" ng-show="articleForm.title.$dirty && articleForm.title.$invalid">
                <span ng-show="articleForm.title.$error.required">Title is required.</span>
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="subtitle">Subtitle:(*)</label>
            <div class="controls">
                <input style=" margin: 8px 0;" type="text" id="subtitle" ng-model="article.subtitle" name="subtitle" placeholder="Subtitle" required/>
                <span class="text-warning" ng-show="articleForm.subtitle.$dirty && articleForm.subtitle.$invalid">
                <span ng-show="articleForm.subtitle.$error.required">Subtitle is required.</span>
                </span>
            </div>
        </div>
        
        <div class="filter">
            <label class="control-label" for="category">Category:(*)</label>
            <div class="controls">
                <select id="category" ng-model="article.category"  style=" margin: 8px 0;">
                    <option value="National">National </option>
                    <option value="Economy">Economy</option>
                    <option value="Sports">Sports</option>
                    <option value="Technology">Technology</option>
                    <span class="text-warning" ng-show="articleForm.category.$dirty && articleForm.category.$invalid">
                    <span ng-show="articleForm.category.$error.required">Category is required.</span>
                    </span>
                </select>
            </div>
        </div>
    
        <div class="control-group">
            <label class="control-label" for="abstract">Abstract:(*)</label>
            <div class="control-text">
                <md-input-container  class="md-block">
                    <textarea  id="abstract"style=" margin: 8px 0;" ng-model="article.abstract" md-maxlength="50" rows="5" md-select-on-focus></textarea>
                    <span class="text-warning" ng-show="articleForm.abstract.$dirty && articleForm.abstract.$invalid">
                    <span ng-show="articleForm.abstract.$error.required">Abstract is required.</span>
                    </span>
                </md-input-container>
        </div>
    
        <div class="control-group">
            <label class="control-label" for="body">Body:(*)</label>
            <div class="control-text">
                <md-input-container class="md-block">
                    <textarea id="body"  style=" margin: 8px 0;" ng-model="article.body" md-maxlength="550" rows="5" md-select-on-focus></textarea>
                    <span class="text-warning" ng-show="articleForm.abstract.$dirty && articleForm.abstract.$invalid">
                    <span ng-show="articleForm.abstract.$error.required">Abstract is required.</span>
                    </span>
                </md-input-container>
            </div>
        </div>
        <!-- Code to browse the image file and binds the image to the scope variables "news.image_media_type" and "news.image_data" -->

        <div class="control-group">
            <label class="control-label" for="body">Image:</label>
                <div class="control-img">
                    <img style="width:300px; height:300px;" ng-src="{{ 'data:' + news.image_media_type + ';base64,' + news.image_data }}" />
                    <input style=" margin: 8px 0;"type="file" ng-file-select="onFileSelect($files);" ng-model="article.img"></input>
                </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="body">* Mandatory</label>
        </div>

        <div class="control-group">

                <div class="controls">   <!--   <div class="text-right"></div> -->
                        <input style=" float:Right; margin: 8px 0;   padding: 15px 32px;" type="button" ng-click="updateArticle()" class="btn btn-small btn-primary" 
                        ng-disabled="articleForm.title.$invalid || articleForm.Subtitle.$invalid || articleForm.category.$invalid || articleForm.abstract.$invalid || articleForm.body.$invalid" value="Save"> 
                </div>

            <div class="controls">
                <input style="   float:Right;margin: 8px 0; margin-right:10px;  padding: 15px 32px;" type="button" ng-click="cancel()" class="btn btn-small btn-primary" 
                value="Back to List"> 
            </div>
        </div>
    </form>
</div>
<!-- Code to browse the image file and binds the image to the scope variables "news.image_media_type" and "news.image_data" -->
 
<!-- <img style="width:300px; height:300px;" ng-src="{{ 'data:' + news.image_media_type + ';base64,' + news.image_data }}" />
<input type="file" ng-file-select="onFileSelect($files);" ng-model="news"></input> -->
